/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

// include customized bootstrap
@import './scss/config';
// include all of Bootstrap
@import 'bootstrap/scss/bootstrap';

// .App {
//   // max-width: 800px;
//   // height: 1000px;
// }

// .login .container {
//   max-width: 330px;
// }
body {
  background-color: #e9ecef;
}

.max-w-362 {
  max-width: 362px;
  margin: 0 auto;
}

.hover-bg-gray-100:hover {
  background-color: #f3f4f6 !important;
}

.hover-bg-gray-200:hover {
  background-color: #cfcfd08a !important;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.tw-pt-14 {
  padding-top: 3.5rem;
}
