/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

// include customized bootstrap
@import './scss/config';
// include all of Bootstrap
@import 'bootstrap/scss/bootstrap';

// // Bootstrap and customized SCSS
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// @import 'bootstrap/scss/root';
// @import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/type';

// .App {
//   // max-width: 800px;
//   // height: 1000px;
// }

// .login .container {
//   max-width: 330px;
// }

body {
  background-color: #edfff3;
}

$colors: (
  'green-100': $green-100,
  'teal-700': $teal-700
);

.bg-green-100 {
  background-color: map-get($colors, 'green-100');
}
.bg-teal-700 {
  background-color: map-get($colors, 'teal-700');
}

$text-colors: (
  'gray-600': $gray-600
);

.text-bg-gray-600 {
  background-color: map-get($text-colors, 'gray-600');
  color: white;
}

// $teal-700: #007777;

// $theme-colors: (
//   'success': $teal-700
// );

.max-w-362 {
  max-width: 362px;
  margin: 0 auto;
}

.hover-bg-gray-100:hover {
  background-color: #f3f4f6 !important;
}

.hover-bg-gray-200:hover {
  background-color: #cfcfd08a !important;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-gray-300 {
  background-color: #d1d5db;
}

.tw-pt-14 {
  padding-top: 3.5rem;
}

// Define z-index variables
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-offcanvas-backdrop: 1040;
$zindex-offcanvas: 1045;
$zindex-modal-backdrop: 1050;
$zindex-modal: 1065;
$zindex-popover: 1070;
$zindex-tooltip: 1080;
$zindex-toast: 1090;

// Use the defined variables in your styles
.modal-backdrop {
  --bs-backdrop-zindex: $zindex-modal-backdrop;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}

.modal-dialog {
  z-index: $zindex-modal !important;
}

// You can use the other z-index variables similarly in your styles

.row {
  &::-webkit-scrollbar {
    display: none;
  }
}
